.SingleDatePickerInput {
  border: none !important;
  background-color: #00000000 !important;
}

.DateRangePickerInput__showClearDates {
  padding-right: 0px !important;
  width: 100% !important;
}

.DateRangePickerInput {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.DateRangePicker {
  width: 100% !important;
}
.DateInput {
  background-color: #00000000 !important;
  width: 100px !important;
}
.DateRangePickerInput__withBorder {
  border: none;
  background-color: #00000000 !important;
}
.DateRangePickerInput_arrow_svg_1 {
  fill: teal;
}
.DateInput_input {
  background-color: #00000000 !important;
  color: #00a699 !important;
  font-family: 'Quicksand';
  font-size: 16.5px;
  padding: 0 !important;
  font-weight: bold;
  border-bottom: 2px solid #00a699;
  text-align: center;
}

.DateInput_input:hover {
  cursor: pointer;
}

.nav-item-sticky-active {
  padding: 1.8125rem;
  border-bottom: 0.25rem solid #f65e39;
  font-weight: 900;
}
