.SingleDatePicker {
  width: 100% !important;
}

.SingleDatePickerInput {
  border: none !important;
  background-color: #00000000 !important;
  width: 100% !important;
}

.DateRangePickerInput__showClearDates {
  padding-right: 0px !important;
  width: 100% !important;
}

.DateRangePickerInput {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.DateRangePicker {
  width: 100% !important;
}
.DateInput {
  background-color: #00000000 !important;
  width: 100% !important;
}
.DateRangePickerInput__withBorder {
  border: none;
  background-color: #00000000 !important;
}
.DateRangePickerInput_arrow_svg_1 {
  fill: teal;
}
.DateInput_input {
  background-color: #00000000 !important;
  color: #afafaf !important;
  font-family: 'Quicksand';
  font-size: 15px;
  padding: 0.6em 1em !important;
  font-weight: 500;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  text-align: left;
}

.DateInput_input:hover {
  cursor: pointer;
}

.nav-item-sticky-active {
  padding: 1.8125rem;
  border-bottom: 0.25rem solid #f65e39;
  font-weight: 900;
}
